.marca {
  margin-left: -6em;
  margin-bottom: -7rem;
}

.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  background: #d1cbcb;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .marca {
    margin-left: 0.8rem;
  }
  .header {
    flex-direction: column;
    gap: 130px;
    padding: 20px;
  }
  .header a {
    background: #d1cbcb;
    border-radius: 4px;
  }
}
